**/.DS_Store

**/logs/
**/*.mv.db
**/*.iml
**/*.iws
**/*.ipr
**/file-uploads/
**/build/
**/node_modules/
**/.gradle/
**/dist/
**/site.tgz
temperature-sensor-and-rest/schedule.json

temperature-sensor-and-rest/scripts/*.service